.botones-container {
  display: flex;
  gap: 1rem;
  justify-content: left;
  margin-top: 2rem;
}

.boton-inicio {
  background-color: #3f51b5;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.boton-inicio:hover {
  background-color: #303f9f;
  box-shadow: 0 4px 12px rgba(48, 63, 159, 0.4);
}

.boton-inicio:focus {
  outline: none;
  box-shadow: 0 4px 12px rgba(48, 63, 159, 0.4);
}